<div id="<%= dom_id idea %>">
  <p>
    <strong id= "specific" class="label" ">Name:</strong>
    <%= idea.name %>
  </p>

  <p>
    <strong class="label">Description:</strong>
    <%= idea.description %>
  </p>

  <p>
    <strong class="label">Picture:</strong>
    
    <img src="<%= idea.picture %>" width="50" />
  
  </p>



</div>
